
*{
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;
}
body{
  font-family: "arial";
  font-size:16px;
  background: url('../images/bg.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html, body {
  height: 100%;
  margin: 0;
}

button{
  cursor: pointer;
}
button:hover{
 opacity: 0.5;
}
.animated:hover{
  opacity: 1;
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 0.3s;
}

.active{
  color:#002263 !important;
  background-color: #FFFFF0 !important;
}

@media (max-width: 900px) {
  body{
    font-size:0.8em;
  }
 }
@media (max-width: 600px) {
  body{
    font-size:0.5em;
  }
 }